body{
    margin: 0;
    background-image: radial-gradient(circle,#866df7, #260444);
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
}

.item{
   
    margin: 15px 15px;
    width: 100px ;
    height: 150px;
    background: #d7c8f0;
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 150px;
    transition: all 1s;
    border-radius: 5%;
    padding: 10px;

}

.item:nth-child(1){
    background-color: purple;
    transform: translate(0);
}

.item:nth-child(2){
     background-color: red;
    /*transform: rotate(45deg);
    transform: rotate(6rad); /*6rad una vuelta*/
    /* transform: rotate(200grad); 200grad una vuelta */ 
    transform: rotate(2turn); /*una vuelta*/
}

.item:nth-child(3){
    background-color: yellow;
    transform: scale(45deg); /*una vuelta*/
}

.item:nth-child(4){
    background-color: greenyellow;
    transform: skewX(200deg) translateY(-100px);
}

.item:nth-child(3){
    
    animation-name: clase;
    animation-duration: 2s;
    animation-delay: 2s;
    position: relative;
    animation-direction: reverse;
    animation-timing-function: ease-in;
    animation-iteration-count: 2;
}

@keyframes clase {
    0%{
        background-color: greenyellow;
        left: 0px;
        top: 0px;
        /*Que pasa cuando inicia la animación*/
    }
    25%{
        background-color: hotpink;
        left: 300px;
        top: 0px;
        /*Que pasa cuando la animación esta en la mitdad*/
    }
    50%{
        background-color: hotpink;
        left: 300px;
        top: 300px;
        /*Que pasa cuando la animación esta en la mitdad*/
    }
    75%{
        background-color: rgb(136, 18, 77);
        left: 0;
        top: 300px;
        /*Que pasa cuando la animación esta en la mitdad*/
    }
    100%{
        background-color: blueviolet;
        left: 0px;
        top: 0px;
        /*Que pasa cuando la animación finaliza*/
    }
}